<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <!-- Add a minimum viable option: just choose type of cuisine, results will link to a google or yelp search for that cuisine with the other parameters included in the search (i.e., zipcode, price, etc.) -->

    <div class="main-outer-container">
        <main class="main-content">
            <div class="help"><p>?</p>
                <div class="help-tooltip">What do you want to eat? Each diner will enter their top three choices ranked in order of preference. Each diner must select a different option for each choice, no brute-forcing your way to pizza.</div>
            </div>
            <form action="/app/choice" method="POST" id="choiceForm">
                <!-- Add loop here to generate number of fieldsets based on # of diners entered in previous step -->
                <%= diners.numDiners %>
                <% for (let i = 2; i <= diners.numDiners; i++) { %>
                
                <%- include('../partials/choice-form') -%>
                    <% } %>
                <!-- <a href="/app/result"> -->
                    <button type="submit">yum<span >!</span></button>
                <!-- </a> -->
            </form>

        </main>
    </div>

    <%- include('../partials/footer') -%> 