<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content">
            <div class="help"><p>?</p>
                <div class="help-tooltip">Don't like the results? Click on "Challenge" below to randomly select a winner among the top-ranked choices.</div>
            </div>

            

            <div class="results-ranking">
                
                <% for (let i = 0; i < resultArray.length; i++) { %>
                    <div class="place<%= i + 1 %>">The #<%= i + 1 %> choice is <span class="result-bold"><%= resultArray[i].name %></span> with <%= resultArray[i].total %> points!
                        <div class=" result-outer">

                            <% for (restaurant of allRestaurants) { %>
                                <% if (restaurant.cuisine.includes(resultArray[i].cuisine) == true) { %>
                                    <a href="#">
                                        <div class="result-box">
                                        <h3><%= restaurant.name %></h3>
                                                <div class ="rst-detail">Price: 
                                                    <%for (let i = 1; i <= restaurant.priceRange; i++) { %>
                                                        $
                                                <%  }%>
                                                </div>
                                                    
                                                
                                                <div class="rst-detail">
                                                    <% if (restaurant.distance == 1) { %>
                                                        <%= restaurant.distance%> mile away
                                                    <%} else if (restaurant.distance == 2) { %>
                                                        &le; 2 miles away
                                                    <%} else if (restaurant.distance == 3) { %>
                                                        &le; 5 miles away
                                                    <%} else if (restaurant.distance == 4) { %>
                                                        5+ miles away
                                                    <%};%>
                                                </div>

                                                <%if (restaurant.minorityOO == true) {%>
                                                    <div class="rst-detail">Minority Owned & Operated</div>
                                                <%} else {%>
                                                    <div class="rst-detail">&nbsp;</div>
                                                    <%}%>
                                            <div class="emoji">&#<%= restaurant.emoji%>;</div>
                                        </div>
                                    </a>
                                <% } %> 
                            <% } %>
                        </div>
                        <hr>
                    </div>
                    <% } %>
        
                <a href="/app/challenge"><button type="submit">challenge<span >!</span></button></a>
            </div>

            <form action="/" method="GET">
                <button type="submit">start over<span >!</span></button>
            </form>

        </main>
    </div>

    <%- include('../partials/footer') -%> 